<footer>
    <div class="f-info">
        <div class="f-info-social">
        <p>English (IN)</p>
        <a href=""><i class="fa-brands fa-sc fa-square-facebook"></i></a>
        <a href=""><i class="fa-brands fa-sc fa-square-instagram"></i></a>
        <a href=""><i class="fa-solid fa-sc fa-square-envelope"></i></a></div>
        <div>&copy;WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">terms</a>
            <a href="#">SiteMap</a>
            <a href="#">Company Details</a>
        </div>
    </div>
</footer>